<!-- Contenu -->
<div class="container">
  <div id="alertMsg">
    <p>
      {{message}}
    </p>
  </div>
  <div id="home">
    <app-article *ngFor="let element of liste"
      [idArticle]="element.id"
      [titleArticle]=" element.titleArticle "
      [priceArticle]=" element.priceArticle "
      [textAltImg]=" element.textAltImg "
      [urlImg]=" element.urlImg "
      [totalNbLike]="element.totalNbLike"
      [comment]=" element.comment "
      [dispo]=" element.dispo "
      (info)="onAffiche($event)">
    </app-article>
  </div>
</div>
